*{
margin: 0;
padding: 0;
font-family: 'Nunito', sans-serif;
}
section{
padding: 50px 0;
}
span{
color: #ee6344;
}
.wrap{
width: 90%;
margin: 0 auto;
}
.wrap__flex{
display: flex;
justify-content: space-between;
}
.main-h1{
font-size: 40px;
}
.main-h2{
text-align: center;
font-size: 25px;
}
.main-p{
text-align: center;
}
.secondary-h1{
font-size: 25px;
margin: 10px;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.secondary-p{
color: #fff;
text-align: center;
}
.swiper-slide__p{
width: 80%;
text-align: justify;
margin: 10px auto;
}
.swiper-slide__sp{
font-size: 15px;
text-align: center;
margin: 10px 0;
}
.main__pane{
width: 50%;
position: relative;
padding-bottom: 20px;
}
.color__line{
width: 70px;
height: 3px;
background-color: #ee6344;
margin: 10px 0 50px 0px;
}


.swiper-container{
width: 90%;
height: 100%;
margin: 0 auto;
}









/* HEADER */
.header{
width: 100%;
height: 60px;
position: fixed;
z-index: 2000;
background-color: #fff;
border-bottom: 1px solid #ee6344;
}

.header__logo{
width: 30%;
height: 40px;
margin: 10px 0;
}
.header__img{
width: 40px;
height: 40px;
}
.header__name{
width: 40%;
}
#h1__headline{
text-transform: uppercase;
text-align: center;
line-height: 60px;
letter-spacing: 5px;
color: #000;
}
.header__nav{
width: 30%;
}
.header-nav__ul{
width: 100%;
height: 50%;
margin-top: 15px;
display: flex;
justify-content: space-around;
list-style-type: none;
}
.header-nav__a{
text-decoration: none;
color: #000;
font-size: 13px;
text-transform: uppercase;
font-weight: 700;
line-height: 30px;
}
/* SLIDER */
.slider__photo{
width: 100%;
height: 800px;
}
/* ABOUT */
#about__p{
/* width: 60%; */
text-align: justify;
}
.about__img{
position: absolute;
top: 0;
bottom: 0;
right: 0;
margin: auto;
border-radius: 15px;
}
/* PRODUCTS; */
.products__type{
width: 33%;
display: flex;
justify-content: space-between;
}
.products__img{
border-radius: 15px;
width: 250px;
height: 250px;
margin: 0 30px 0 0;
}
.third-p{
margin: 0 auto;
letter-spacing: 1.5px;
}
/* PASTILA, Fripses, Box */
.swiper-slide{
width: 300px;
height: 100%;
-webkit-transition: 0.5s ease;
margin: 10px 0;
}
.swiper-slide:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.5s;
}
.slider-slide__button{
width: 200px;
height: 40px;
display: block;
margin: 15px auto;
border-radius: 20px;
border: none;
outline: none;
background-color:  #ee6344;
color: #fff;
font-size: 20px;
}
.swiper-slide__img{
width: 100%;
height: 300px;
border-radius: 5px;
}


/* BOX */
.box-main__wrap{
width: 90%;
margin: 0 auto;
}
.box__wrapper{
width: 90%;
margin: 0 auto;
display: flex;
justify-content: flex-start;
}
.box__pane{
width: 33%;
}
.box__li{
margin-bottom: 10px;
}
/* #box__pane1{
width: 300px;
} */
#box__pane2{
padding-left: 20px;
}
#box__pane3{
display: flex;
}
.box__p{
width: 80%;
margin: 10px 0;
}
.box__p1{
margin-bottom: 10px;
}
.box__ul{
list-style-type: none;
}
.box__textarea{
height: 150px;
}
.box__img{
width: 100%;
height: 400px;
}
.box__form{
width: 100%;
margin: auto;
}
/* ADVANTAGES */
#advantages{
background-color: #ee6344;
}
.advantages__block{
width: 200px;
}
.advantages-img{
border-radius: 15px;
}
#main-h1__advantages{
color: #fff;
}
#color-line__advantages{
background-color: #fff;
}




/* ORDER */
#order{
margin-bottom: 50px;
}
#order__wrap{
position: relative;
}
.order__form{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.order__select{
width: 33%;
height: 40px;
margin-bottom: 20px;
outline: none;
text-align-last: center;
border: 2px solid #ee6344;
background-color: #fff;
}
.order__plus{
display: flex;
margin: 30px 0;
}
.plus__img{
width: 50px;
height: 50px;
margin: auto;
}
.order__button{
position: absolute;
bottom: -90px;
left: 440px;
right: 0;
margin: auto;
}
.order__info{
  width: 190px;
  height: 40px;
  padding-left: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #ee6344;
  position: absolute;
  bottom: -90px;
  left: 0;
  right: 400px;
  margin: auto;
}
#order__phone{
left: 420px;
}
/* CONTACT */
.contact__wrap{
width: 90%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.contact-wrap__pane{
width: 33%;
}
.social-wrap__ul{
list-style-type: none;
}
.social__li{
height: 35px;
width: 50%;
margin: 0 auto;
margin-bottom: 20px;
}
.social__a{
  color: #000;
text-decoration: none;
background-color: yellow;
position: relative;
}
.social__p{
position: absolute;
top: -7px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}
.fas , .fab {
font-size: 35px;
margin-right: 10px;
}
.message__form{
width: 400px;
margin: 0 auto;
}
.pane__input{
width: 100%;
height: 50px;
outline: none;
border: none;
padding-left: 10px;
border-bottom: 1px solid #ee6344;
}
textarea{
  width: 100%;
  height: 100px;
resize: none;
border: none;
border-bottom: 1px solid #ee6344;
outline: none;
padding: 10px 0 0 10px;
}
.h1-new{
  text-align: center;
}
.color-line__new{
margin: 10px auto 50px;
}
