* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

section {
  padding: 50px 0;
}

span {
  color: #ee6344;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.wrap__flex {
  display: flex;
  justify-content: space-between;
}

.main-h1 {
  font-size: 40px;
}

.main-h2 {
  text-align: center;
  font-size: 1.2vw;
  ;
}

.main-p {
  text-align: center;
}

.secondary-p {
  font-size: 1vw;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.swiper-slide__p {
  font-size: 1vw;
  width: 90%;
  margin: 10px auto;
}

.swiper-slide__sp {
  font-size: 1vw;
  text-align: center;
  margin: 10px 0;
}

.main__pane {
  width: 50%;
  position: relative;
  padding-bottom: 20px;
}

.color__line {
  width: 70px;
  height: 3px;
  background-color: #ee6344;
  margin: 10px 0 50px 0px;
}

.swiper-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.menu {
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  display: none;
}

.menu__wrap {
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

.menu__img {
  width: 30px;
  height: 30px;
  margin-right: 21px;
  float: right;
}

#menu__ul {
  list-style-type: none;
  margin: 20px 30px 0 0;
  float: right;
}

.menu__li {
  margin-top: 10px;
  text-align: right;
}

.menu-ul__a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

/* HEADER */
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2000;
  background-color: #fff;
  border-bottom: 1px solid #ee6344;
}

.header__logo {
  width: 30%;
  height: 40px;
  margin: 10px 0;
}

.header__img {
  width: 40px;
  height: 40px;
}

.header__name {
  width: 40%;
}

#h1__headline {
  text-transform: uppercase;
  text-align: center;
  line-height: 61px;
  letter-spacing: 5px;
  color: #000;
}

.header__nav {
  width: 30%;
}

.header-nav__ul {
  width: 100%;
  height: 50%;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.header-nav__a {
  text-decoration: none;
  color: #000;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
}

.header__menu {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  float: right;
  display: none;
}

.header-menu__bars {
  width: 30px;
  height: 30px;
}

/* SLIDER */
.slider {
  padding-top: 61px;
}

.slider__photo {
  width: 100%;
  height: auto;
}

.slider__block {
  outline: none;
}

#slider__block {
  background-image: url(../img/main-photo4.jpg);
  background-size: cover;
}

#slider__blockS {
  background-image: url(../img/main-photo5.jpg);
  background-size: cover;
}

.slider-block__h1 {
  font-size: 30px;
}

.slider-block__h {
  width: 100%;
  height: 95vh;
  padding-left: 5%;
  position: relative;
}

.slider-block__headline {
  width: 70%;
  position: absolute;
  bottom: 20%;
}

.slider-block__a {
  color: #fff;
  font-size: 23px;
  line-height: 80px;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}

.slider__button {
  width: 300px;
  height: 80px;
  background-color: #ee6344;
  border: none;
  outline: none;
  margin-top: 50px;
  border-radius: 40px;
}

.slider-block__p {
  text-transform: uppercase;
  font-size: 3.5vw;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

/* ABOUT */
.headline__wrap {
  width: 90%;
  margin: 0 auto;
}

#about__p {
  font-size: 1.25vw;
  width: 90%;
  text-align: justify;
  margin-left: 50px;
}

.about__img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.about__imgPhone {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: none;
}

/* PRODUCTS; */
.prod__wrap {
  flex-wrap: wrap;
}

.products__type {
  width: 30%;
}

.products__img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.third-p {
  font-size: 1.2vw;
  margin: 10px auto;
  letter-spacing: 1.5px;
}

.products-type__imgWrap {
  margin-bottom: 30px;
}

.products-type__h1 {
  font-size: 1.5vw;
}

/* PASTILA, Fripses, Box */
.swiper-slide {
  width: 300px;
  height: 100%;
  margin: 10px 0;
  transition: 0.5s;
  transform: scale(1.0);
}

.swiper-slide:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.5s;
}

.slider-slide__button {
  width: 200px;
  height: 40px;
  display: block;
  margin: 15px auto;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ee6344;
  color: #fff;
  font-size: 20px;
}

.slider-slide__a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

.swiper-slide__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* BOX */
.box-main__wrap {
  width: 90%;
  margin: 0 auto;
}

.box__wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.box__pane {
  width: 33%;
}

.box__li {
  border: 1px solid #ee6344;
  padding: 10px;
  font-size: 0.85vw;
}

#box__pane1 {
  height: 100%;
}

#box__pane2 {
  padding-left: 20px;
}

#box__pane3 {
  display: flex;
}

.box__p {
  font-size: 1.15vw;
  width: 90%;
  margin: 10px 0;
}

.box__p1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.box__ul {
  width: 80%;
  margin-top: 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.box__textarea {
  height: 150px;
  margin-bottom: 20px;
  -webkit-appearance: none;
}

.box__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box__form {
  width: 100%;
}

/* ADVANTAGES */
#advantages {
  background-color: #ee6344;
}

.advantages__block {
  width: 19%;
}

.advantages-block__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.advantages-img {
  width: 100px;
  border-radius: 15px;
}

#main-h1__advantages {
  color: #fff;
}

#color-line__advantages {
  background-color: #fff;
}

/* ORDER */
#order {
  margin-bottom: 50px;
}

#order__wrap {
  position: relative;
}

.order__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order__select {
  width: 31%;
  height: 40px;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ee6344;
  background-color: #fff;
  padding-left: 20px;
}

.order__plus {
  display: flex;
  margin: 30px 0;
}

#order__plus {
  width: 20%;
  margin: 0 auto;
}

.plus__img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.plus__headline {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.order__button {
  position: absolute;
  bottom: -90px;
  left: 440px;
  right: 0;
  margin: auto;
}

.order__info {
  width: 190px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #ee6344;
  position: absolute;
  bottom: -90px;
  left: 0;
  right: 400px;
  margin: auto;
}

#order__phone {
  left: 420px;
}

/* CONTACT */
.contact__wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact-wrap__pane3 {
  padding-left: 40px;
}

.contact-wrap__pane {
  width: 32%;
}

.social-wrap__ul {
  list-style-type: none;
}

.social__li {
  height: 35px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.social__a {
  font-size: 1.2vw;
  color: #000;
  text-decoration: none;
  background-color: yellow;
  position: relative;
}

.social__p {
  position: absolute;
  top: -7px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.fas, .fab {
  font-size: 35px;
  margin-right: 10px;
}

.message__form {
  width: 400px;
  margin: 0 auto;
}

.pane__input {
  width: 90%;
  height: 50px;
  outline: none;
  border: none;
  padding-left: 10px;
  border-bottom: 1px solid #ee6344;
  border-radius: 0;
}

textarea {
  width: 90%;
  height: 100px;
  resize: none;
  border: none;
  border-bottom: 1px solid #ee6344;
  outline: none;
  padding: 10px 0 0 10px;
  border-radius: 0;
}

.h1-new {
  text-align: center;
}

.color-line__new {
  margin: 10px auto 50px;
}

.footer {
  height: 50px;
  background-color: #ee6344;
}

.footer__p {
  text-align: center;
  line-height: 50px;
  font-size: 9px;
  color: #fff;
  text-transform: uppercase;
}

/* MEDIA */
@media only screen and (max-width: 1650px) {
  #box__pane2 {
    width: 47%;
  }

  #box__pane3 {
    width: 20%;
  }

  .box__textarea {
    height: 47px;
  }

  .box__ul {
    width: 59%;
  }
}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1280px) {
  .header__name {
    width: 50%;
  }

  .header__logo {
    width: 25%
  }

  .header__nav {
    width: 25%;
  }

  .box__ul {
    width: 62%;
  }

  #order__plus {
    width: 48%;
  }

  #contact-wrap__pane1 {
    width: 48%;
  }

  #contact-wrap__pane2 {
    width: 50%;
  }

  #contact-wrap__pane3 {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    padding: 50px 0 0;
  }

  #advantages {
    padding: 50px 0;
  }

  #order {
    padding: 50px 0;
  }

  #box {
    padding: 50px 0;
  }

  .header-nav__ul {
    display: none;
  }

  .header__menu {
    display: block;
  }

  #about__wrap {
    display: block;
  }

  .main__pane {
    width: 100%;
  }

  #about__p {
    font-size: 2vw;
    width: 100%;
    margin-left: 0;
  }

  .products__type {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .products-type__h1 {
    font-size: 2.5vw;
  }

  .products-type__imgWrap {
    width: 40%;
  }

  #products-type__box {
    display: flex;
  }

  .products-type__text {
    width: 60%;
    padding-left: 30px;
  }

  .third-p {
    width: 90%;
    float: left;
    font-size: 1.7vw;
  }

  .box__wrapper {
    flex-wrap: wrap;
  }

  #box__pane1 {
    width: 48%;
  }

  #box__pane2 {
    width: 49%;
  }

  #box__pane3 {
    margin-top: 20px;
    width: 100%;
  }

  .box__ul {
    width: 85%;
    margin-top: 3px;
  }

  .box__p {
    width: 100%;
    font-size: 1.7vw;
  }

  .box__li {
    margin-top: 10px;
    font-size: 1.3vw;
  }

  .swiper-slide__p {
    font-size: 1.7vw;
  }

  #advantages__wrap {
    flex-wrap: wrap;
  }

  #advantages__blockLast {
    display: none;
  }

  .advantages__block {
    width: 20%;
  }

  #order__phone {
    left: 370px;
  }

  .menu__img {
    margin-right: 51px;
  }

  .secondary-p {
    width: 100%;
    font-size: 1.4vw;
  }

  .slider-block__p {
    font-size: 4.5vw;
  }

  .main-h2 {
    font-size: 2.5vw;
  }

  .swiper-slide__sp {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 900px) {
  .box__li {
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  #order__phone {
    left: 270px;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 20px 0 0;
  }

  .slider-block__headline {
    width: 80%;
  }

  .slider__button {
    width: 200px;
    height: 40px;
  }

  .slider-block__a {
    font-size: 18px;
    line-height: 40px;
  }

  .products-type__imgWrap {
    width: 50%;
  }

  .products-type__text {
    width: 50%;
  }

  #box__pane1 {
    width: 100%;
    margin-bottom: 10px;
  }

  #box__pane2 {
    width: 100%;
    padding-left: 0;
  }

  #box__pane3 {
    margin: 20px auto;
    width: 100%;
  }

  .pane__input {
    width: 97%;
  }

  .box__textarea {
    width: 97%;
    height: 100px;
  }

  .box__p {
    font-size: 2vw;
  }

  .box__ul {
    width: 90%;
    margin: 10px auto;
  }

  #order__phone {
    left: 255px;
  }

  #order__plus {
    width: 50%;
  }

  .contact-wrap__pane {
    margin-bottom: 30px;
  }

  #contact-wrap__pane1 {
    width: 100%;
  }

  #contact-wrap__pane2 {
    width: 100%;
  }

  #contact-wrap__pane3 {
    width: 100%;
  }

  .message__form {
    width: 75%;
  }

  .social-wrap__ul {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menu__img {
    margin-right: 38px;
  }

  .box__ul {
    width: 70%;
  }

  .box__li {
    font-size: 2vw;
  }

  #box {
    padding: 20px 0 0;
  }

  #advantages {
    padding: 20px 0;
  }

  #order {
    padding: 20px 0 50px;
  }

  .social__a {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 640px) {
  .box__li {
    font-size: 17px;
    padding: 5px;
  }

  .order__info {
    width: 180px;
  }

  #order__phone {
    left: 195px;
  }

  #order__submit {
    width: 180px;
    left: 380px;
  }

  .third-p {
    font-size: 1.6vw;
  }

  .slider-block__headline {
    bottom: 30%;
  }

  .box__ul {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .box__li {
    padding: 5px;
  }
}

@media only screen and (max-width: 425px) {
  section {
    padding: 20px 0 0;
  }

  .slider-block__p {
    font-size: 6vw;
  }

  .slider-block__headline {
    width: 70%;
    bottom: 20%;
  }

  .swiper-slide__p {
    font-size: 3.5vw;
  }

  .swiper-slide__sp {
    font-size: 3.5vw;
  }

  .color__line {
    margin: 10px 0 20px 0;
  }

  .header__img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }

  .main-h1 {
    font-size: 30px;
  }

  .about__img {
    display: none;
  }

  .about__imgPhone {
    display: block;
  }

  #about__p {
    font-size: 16px;
  }

  .products__type {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .products-type__imgWrap {
    width: 100%;
    margin-bottom: 5px;
  }

  .products-type__h1 {
    font-size: 5vw;
  }

  .products-type__text {
    width: 100%;
    padding-left: 0;
  }

  .third-p {
    width: 100%;
    font-size: 3.5vw;
  }

  .main-h2 {
    font-size: 5vw;
  }

  .box__p {
    font-size: 3.5vw;
  }

  .box__li {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
  }

  .box__ul {
    flex-wrap: wrap;
  }

  .advantages__block {
    width: 48%;
    margin-bottom: 20px;
  }

  .advantages-img {
    width: 80px;
    height: 80px;
  }

  .secondary-p {
    font-size: 2.7vw;
    width: 80%;
  }

  #order {
    padding-bottom: 180px;
  }

  .order__select {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
  }

  #order-select__first {
    margin-top: 20px;
  }

  #order-select__third {
    margin-bottom: 30px;
  }

  .order__info {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ee6344;
    border-radius: 0;
  }

  #order__phone {
    bottom: -142px;
    left: 0;
  }

  #order__submit {
    bottom: -210px;
    left: 0;
    width: 100%;
  }

  #order__plus {
    width: 65%;
  }

  .social-wrap__ul {
    display: block;
  }

  .color-line__contact {
    margin: 10px auto 20px;
  }

  .social__li {
    width: 100%;
  }

  .social__p {
    font-size: 3.5vw;
  }

  .menu__img {
    margin-right: 21px;
  }

  .advantages-block__wrap {
    margin-bottom: 20px;
  }

  .plus__headline {
    height: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .header__logo {
    display: none;
  }

  #about__p {
    font-size: 14px;
  }

  .secondary-p {
    font-size: 9px;
  }

  .menu__img {
    margin-right: 19px;
  }

  .plus__headline {
    height: 35px;
  }
}

@media only screen and (max-width: 320px) {
  #about__p {
    font-size: 12px;
  }

  .secondary-p {
    font-size: 8.5px;
  }

  #order__plus {
    width: 75%;
  }

  .menu__img {
    margin-right: 16px;
  }
}
